<!--<div class="main_title">
<h3>Item  Details</h3>
</div>
<table>
<div class="cart-item" *ngFor="let item of items">
    <div class="row" style="background-color:#aaa;">
        
        
    <img  [src]="getImageUrl(item.image)" alt="" height="200" width="200" >



    <a href="#">
        <h4>{{item.productName}}</h4>
    </a>
    <h5>{{item.unitPrice}}</h5>
    <button class="btn btn-success btn-lg" type="submit" (click)="removeToCart(item.productId)">Remove</button>
</div>
</div>
</table>-->

<!--================Cart Area =================-->
<section class="cart_area">
    <br>
    <br>
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">SubTotal</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        
                        <tr *ngFor="let item of items">
                            
                            <td>
                                
                                <div class="media">
                                    <div class="d-flex">
                                        <img [src]=getImageUrl(item.image) alt="" height="200" width="200">
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.productName}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{item.unitPrice}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="number" #selectedItemCount="ngModel" [(ngModel)]="item.selectedItemCount" maxlength="12" class="input-text qty" (change)="getItemTotal(item.productId)">
                                    <!--<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                     class="increase items-count" type="button">
                                        <i class="lnr lnr-chevron-up"></i>
                                    </button>
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                     class="reduced items-count" type="button">
                                        <i class="lnr lnr-chevron-down"></i>
                                    </button>-->
                                </div>
                            </td>
                            <td>
                                <h5>{{item.unitPrice * item.selectedItemCount}}</h5>
                                
                            </td>
                            <td>
                                <button class="btn btn-success btn-lg" type="submit" (click)="removeToCart(item.productId)">Remove</button>
                            </td>
                        
                        </tr>
                   
                        
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" [routerLink]="['/']">Update Cart</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Total</h5>
                            </td>
                            <td>
                                <h5>{{getTotalAmount()}}</h5>
                            </td>
                        </tr>
                        
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner">
                                    <button class="main_btn"  (click)="CheckItemCount()">Proceed to checkout</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</section>



<!--================End Cart Area =================-->



