
<!--================Login Box Area =================-->

<section class="login_box_area p_120">
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../assets/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <a class="main_btn" href="#">Create an Account</a>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-6">
                <div class="login_form_inner reg_form">
                    <h3>Create an Account</h3>
                    <form class="row login_form" #fromCustomer="ngForm" (ngSubmit)="onSubmit(fromCustomer)" autocomplete="off">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="registerUser.firstName" placeholder="First Name" required/>
          
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="registerUser.lastName" placeholder="Last Name"/>    
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="registerUser.phoneNumber" placeholder="Phone Number"/>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="registerUser.address" placeholder="Address"/>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="registerUser.email" placeholder="Email Address"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="registerUser.password" placeholder="Password"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Confirm password"/>
                        </div>
                        <!--<div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div>-->
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn submit_btn">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    
</section>

<!--================End Login Box Area =================-->

